body {
  height: 100vh;
  display: grid;
  place-items: center;
  background: black;
  overflow: hidden;
}

.scene {
  position: relative;
  width: 100%;
  height: 100%;
}

.canvas-container {
  position: absolute;
  width: 100%;
  height: 99%;
  overflow: hidden;
  perspective: 400px;
}

.canvas {
  position: absolute;
  vertical-align: middle;
  image-rendering: pixelated;
  transform-style: preserve-3d;
}

.canvas1 {
  top: 47%;
  width: 60%;
  height: 30%;
  transform-origin: center right;
  transform:
    rotateY(50deg)
    rotateZ(10deg);
}

.canvas2 {
  top: 42%;
  right: 0;
  width: 45%;
  height: 35%;
  transform-origin: bottom left;
  transform:
    translateX(7%)
    rotateY(-50deg)
    rotateZ(-7deg)
}

.foreground {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("./torni-clear-sm.png") no-repeat center center;
  background-size: cover;
}
